// Colors

$orange-extra-extra-light: #FEF3EA;
$orange-extra-light: #FCD9BF;
$orange-light: #FFC295;
$orange: #F58331;
$grey: #F9F9F9;
$black: #252525;
$green: #85CC8C;

// Font Size

 $font-size-sm: 0.875rem; //14px
 $font-size-sm-1x: 0.75rem; //12px
 $font-size-sm-2x: 0.625rem; //10px
 
 $font-size-md: 1rem; //16px
 $font-size-md-1x: 1.125rem; //18px
 $font-size-md-2x: 1.25rem; //20px
 $font-size-md-3x: 1.5rem; //22px
 
 $font-size-lg: 1.5rem; //24px
 $font-size-lg-1x: 1.75rem; //28px
 $font-size-lg-2x: 2rem; //32px
 $font-size-lg-3x: 2.25rem; //36px
 $font-size-lg-4x: 2.5rem; //40px
 $font-size-lg-5x: 2.75rem; //44px
 $font-size-lg-6x: 3rem; //48px